body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-md {
    width: 500px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    padding: 10px 0px;
    width: 200px;
    margin-right: 10px;
}

form input {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border-width: thin;
    width: 50px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card {
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    min-height: 100px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}